@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body {
  padding-top: 5%;
  font-size: 130px;
  font-family: 'Klee One', cursive;
  background-color: #fef6dd;
  color: rgb(107, 107, 43);
  text-shadow: #2f260c;
  animation: jolie 6s infinite alternate-reverse;
}
span {
  animation: fadein 6s alternate;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes jolie{
    from { background-color: #fef6dd;}
    to { background-color: #fbe5a3;}
}